/* Icon Menu */
.menu-icon {
  max-width: 300px;
  opacity: 0.95;
  filter: drop-shadow(0 4px 10px rgba(0,0,0,0.25));
}

/* Icon Jogo */
.icon-lg {
  width: 30px;
  height: 30px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  margin-bottom: 2px;
  vertical-align: middle;
}
