<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center"
>
  <div class="swipe-hint" *ngIf="!isRevealed">⬆ Arraste para revelar</div>
  <div class="swipe-hint" *ngIf="isRevealed">⬇ Arraste para esconder</div>
  <div class="card-container text-center">
    <div
      class="flip-card"
      [class.flipped]="isRevealed"
      (touchstart)="onTouchStart($event)"
      (touchend)="onTouchEnd($event)"
    >
      <div class="flip-face flip-front shadow-lg p-4">
        <div class="d-flex justify-content-between align-items-center">
          <strong class="text-light mx-2">
            {{ players[index] }}
          </strong>

          <button class="btn btn-sm btn-outline-light m-2" (click)="reveal()">
            👁️ Revelar
          </button>
        </div>
      </div>

      <div
        class="flip-face flip-back shadow-lg p-4"
        [ngClass]="players[index] === pickedPlayer ? 'impostor' : 'normal'"
      >
        <h6 class="my-0 mx-2">
          <ng-container *ngIf="players[index] === pickedPlayer; else theme">
            😈 VOCÊ É O IMPOSTOR
          </ng-container>

          <ng-template #theme> 🎯 {{ pickedTheme }} </ng-template>
        </h6>

        <button class="btn btn-outline-light m-0" (click)="hide()">
          🙈 Esconder
        </button>
      </div>
    </div>

    <div class="mt-4">
      <div class="row justify-content-around">
        <button
          *ngIf="!isDone"
          class="btn btn-warning col-5"
          (click)="previous()"
          [disabled]="isFirstPlayer"
        >
          Jogador Anterior
        </button>

        <button
          *ngIf="!isDone"
          class="btn btn-primary col-5"
          (click)="next()"
          [disabled]="isRevealed"
        >
          Próximo Jogador
        </button>
      </div>

      <button *ngIf="isDone" class="btn btn-danger w-100" (click)="restart()">
        Reiniciar jogo
      </button>
    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="usedThemesLabel">
    <div class="border rounded p-3 bg-light">
      <small class="text-muted d-block mb-2"> Temas já utilizados </small>

      <div class="fw-semibold">
        {{ usedThemesLabel }}
      </div>
    </div>
  </div>
</div>
