<div class="app-wrapper">
  <h1 class="game-title text-center mt-3">{{ title }}</h1>

  <div class="d-flex justify-content-center my-1">
    <img draggable="false" src="assets/spy-agent.png" class="menu-icon" />
  </div>

  <div *ngIf="!isGameStarted" class="app-content">
    <div class="container mb-5">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-4">
          <div class="p-inputgroup input-center d-flex justify-content-center">
            <input
              type="text"
              pInputText
              [(ngModel)]="playerName"
              (keyup.enter)="addPlayer()"
              class="col-8"
              placeholder="Digite o nome do jogador"
            />

            <button
              pButton
              (click)="addPlayer()"
              icon="pi pi-arrow-right"
              severity="primary"
            ></button>
          </div>

          <div class="mt-4 d-flex flex-wrap justify-content-center gap-2">
            <span *ngFor="let name of players" class="badge player-badge">
              {{ name }}
            </span>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button
              *ngIf="!isGameStarted"
              (click)="startGame(1)"
              [disabled]="players.length <= 2"
              pButton
              severity="warning"
              label="Impostor"
              class="px-5 rounded-pill"
            ></button>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button
              *ngIf="!isGameStarted"
              (click)="startGame(2)"
              [disabled]="players.length <= 2"
              pButton
              severity="primary"
              label="Duas Façcões"
              class="px-5 rounded-pill faction-btn"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-game-logic *ngIf="isGameStarted" [type]="type" [players]="players">
  </app-game-logic>
</div>

<router-outlet></router-outlet>
