.credits-bar {
  position: fixed;
  bottom: 4px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  opacity: 0.7;
}

.credits-bar a {
  color: #fff;
  text-decoration: underline;
}

.credits-bar a:hover {
  color: #ffd54f;
}