.app-wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: env(safe-area-inset-bottom);
}

.app-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.card-container {
  width: 50%;
}

@media (max-width: 576px) {
  .app-content {
    align-items: flex-start;
    padding-top: 2rem;
  }

  .card-container {
    width: 90%;
  }
}